/.bundle
db/*.sqlite3
/db/*.sqlite3-journal
.sass-cache/
tmp/*
!tmp
log/*.log
!log
config/database.yml
/public/system
/public/tmp
/public/uploads
/public/spec
public/assets/
public/maintenance.html
!public/images/
public/images/*
public/images/**/*
.DS_Store
/coverage
.powrc
certs/
.yardoc
.powenv
/config/application.yml
.zeus.sock
dump.rdb
config/*.sphinx.conf
db/sphinx
!.gitkeep
.byebug_history
/spring/*.pid
