/.bundle
db/*.sqlite3
/db/*.sqlite3-journal
.sass-cache/
tmp/*
!tmp
log/*.log
!log
config/*.yml
public/assets/
public/maintenance.html
!public/images/
public/images/*
public/images/**/*
.DS_Store
!.gitkeep
.byebug_history
/spring/*.pid
