<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag("http://www.guengl.eu/images/made/uploads/news-images/378534-apple-logo-wallpaper_900_350_70_c1_c_t_0_-50.jpg", class: 'd-block img-fluid') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://www.casasbahia-imagens.com.br/html/conteudo-produto/2031/3987823/imagens/ipad-mini-3-apple-3g-4g-wifi-douradol-ios8-fino-leve-potente-7.9polegadas-2cameras-64bits.jpg", class: 'd-block img-fluid') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://www.benaturalorganics.com/v/vspfiles/assets/images/pomme3.jpg", class: 'd-block img-fluid') %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
