<div class="col-lg-3">
  <h1 class="my-4">Categories</h1>
  <div class="list-group">
    <% @categories.each do |category| %>
      <a href="#"><%= link_to category.name, category, class: "list-group-item" %></a>
  <% end %>
  </div>
</div>
