<%= render 'shared/submenu' %>

<div class="col-lg-9">
  <div class="card mt-4">
  <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
</div>

<div class="card-outline-secondary my-4">
  <h3 class="text-center">Edit an ad</h3>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
</div>
