doctype html
html

  head

    = render 'layouts/rails_default'
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    meta name="description" content=""
    = favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png'

    title = full_title(yield(:title))

  head

  body class='= controller.controller_name'

    = render 'layouts/flash'
    = render 'layouts/nav'

    div class="container"
      div class="row"
        = yield

    = render 'layouts/footer'

    = render 'layouts/scripts'